@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 166, 173, 187;
    --background-rgb: 42, 48, 60;
    --background-dotted-rgb: 36, 41, 51;
}

html {
    font-size: 16px;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    background-image: radial-gradient(rgba(var(--foreground-rgb), .2) 0.5px, rgb(var(--background-dotted-rgb)) 0.5px);
    background-size: 5px 5px;
    min-height: 100vh;
}
